@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1c1917; /* stone-900 */
}

body {
  color: var(--foreground);
  background: var(--background);
}
